<!DOCTYPE html>
 <html > 
    <head>
 
        <title>About me</title><link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
{{>header}}
<p>this site was created by sharaf abacery. it uses mapbox.com and darksky.net</p>
        <img src="/img/IMG_20200303_151746.jpg" alt="" class="portrait">

        </div>
       
        {{>footer}}

    </body>
</html>